h1, h2 {
font-family: Arial, Helvetica, Helvetica Neue, sans-serif;
}

h1 {
	font-size: 2rem;
	padding: 30px 10px;
	border: 1px solid #DDD;
	text-align: center;
	width: 280px;
	background-color: white;


}
h2 {
	font-size: 1rem;
	padding-top: 30px;
	padding-bottom: 10px;
}
.form-body {
	background-color: #F5F5F5;
	border: 1px solid #DDD;
	border-radius: 5px;
	padding: 55px 10px 20px 10px;
	margin: 60px 10px 0px 10px;
}
.wrapper {
	max-width: 50rem;
	margin: 100px auto 0 auto;
	position: relative;

}
.form-head {
	position: absolute;
	top: -50px;
	left: 30px;
}

.style-form {
	width: 95%;
	height: 30px;
	border-radius: 1px;
}
.message {
	height: 100px;
}

.name-area, .email-area, .message-area {
	text-align: center;

}

.name-area h2, .email-area h2, .message-area h2 {
	text-align: left;
	margin-left: 5px;
}
.submit-area {
	margin: 40px 0 30px 0;
}
input[type=submit] {
	padding: 15px 30px;
	background-color: #6495ED;
	color: white;
	font-family: Arial, Helvetica, Helvetica Neue, sans-serif;
	font-size: 1rem;
	text-align: center;
	width: 100%;
	border-radius: 5px;
 	
 
}





@media only screen and (min-width: 26rem) {

	.name-area, .email-area {
		width: 48%;
		float: left;
		margin: 0 1%;

	}
	.message-area {
		clear: left;
		

	}

	.message-area h2 {
		margin-left: 14px;
	}
	.name-area h2, .email-area h2 {
		margin-left: 5px;
	}

	input[type=submit] {
		width: 150px;
		margin-left: 10px;
	 	
	 
	}



}
